# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Languages that Data Scientists use.
* Libraries used by Data Scientists.
* Opensource Data Science Tools.
* Arithmetics in Python on Jupyter Notebooks.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

Data Science Tools:
| Data Science Tools |
| :-: |
| Apache Spark |
| Apache Hadoop |
| TesnsorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Sooraj Kadnor